@font-face {
    font-family: "one";
    src: url("fonts/본문체/ONE\ Mobile\ OTF\ Regular.otf") format("truetype");
    font-weight: normal;
}
body {
    font-family: 'one';
}
* {
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.4em;
}
body {
    color: #333;
}
body {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-text-size-adjust: none;
}
header.header {
    width: 100%;
    position: relative;
    z-index: 3;
}
.common .common_title{
    background-image:url(https://www.rda.go.kr/young/file/imageView.do?fpath=78mfPU1tH5tpGdf2EjZQb0R3AXuZGhjU7I8pBv4Rl9tqEaXhOUrKyqO8iZWgudng&fname=2lUP0R5DD%2FcE9xG4Z1MFWqTYTr98NytuMiEzSs4N44jEkq%2B633YFffxB6MQYKYiyzL6%2B6loOaDTPZnpyutfRzg%3D%3D&fmime=Lg45aghPCGTl0b%2FVATARWg%3D%3D);

    height: 17.73em;
    overflow: hidden;
   
}
.common_wrap{
    position: relative;
    margin:auto;
    max-width: 90rem;
    height: 100%;
}

.common_cover{
    font-size: inherit;
    font: 17px;
    letter-spacing: -0.05em;
    /* margin-bottom: 50px; */
    
}

.common_letter_cover{
    display: block;

}

.common_text{
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 210px;
    font-size: 2.824rem;
    color: #333;
    padding-top: 100px;
}

.common_letter{
    display: inline-block;
    text-align: center;
}

ul span{
    text-decoration: none;
    color: #333;
    padding-left: 70px;
    margin-bottom: 20px;
    
}

.common_img{
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    left: 1126px;
    margin-top: -160px;
}

.page_wrap{
    position: relative;
    margin:auto;
    max-width: 90rem;
    height: 100%;
}

.page{
    margin: 0;
    /* overflow: hidden; */
}
.page_cover{
    max-width: 112.5rem;
}

.page_use{
    margin-top: 91px;
    overflow: hidden;
}

.ct1, .ct2, .ct4{
    display: inline-block;
    vertical-align: bottom;
    cursor: pointer;
    font-size: 18.5px;
    color: #8a8a8a;
    height: 60px;
    background-color: #ccc;
    width: 24%;
    text-align: center;
    line-height: 60px;
    margin: 0;
    border-right: solid 1px #ccc;
    border-left: solid 1px #ccc;
}

.ct3{
    display: inline-block;
    vertical-align: bottom;
    cursor: pointer;
    font-size: 18.5px;
    color: #8a8a8a;
    height: 60px;
    width: 24%;
    text-align: center;
    line-height: 60px;
    margin: 0;
    border-right: solid 1px #ccc;
    border-left: solid 1px #ccc;
    color: #555555;
    border-bottom: none;
    background-color: #fff;
    border-top: solid 3px #7fb069;
    
}
a{
    text-decoration: none;
}

.tab{
    text-align: center;
    font-size: 0;
    z-index: 0;
    position: relative;
    margin-top: 50px;
}

.tab3{
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
    margin-right: 0px;
    padding: 18px 10px;
}

.check_box3{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
    margin-right: 1rem;
    background: url(https://rda.go.kr/young/images/site/mis/common_ico_down_w.png) no-repeat;
    background-color: #7fb069;
    background-position: center;
}

.tab1, .tab2{
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 18px 10px;
    vertical-align: middle;
}

.check_text{
    text-decoration: none;
    color: #333;
}

.check_box1, .check_box2{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
    margin-right: 1rem;
    background: url(https://rda.go.kr/young/images/site/mis/common_ico_down_b.png) no-repeat;
    background-position: center;
    border: solid 1px #ccc;
}

/* 페이지 공통 끝*/

.table_wrap{
    position: relative;
    margin:auto;
    max-width: 90rem;
    height: 100%;
}

.table{
    margin: 10px 151px 0 0;
}

.table1{
    padding-top: 30px;
    width: 1435px;
    height: 1000px;
}

.table1::before{
    content: '';
    display: block;
    clear: both;
    width: 220px;
    height: 3px;
    background: #46351d;
    margin-top: -32px;
}

.table1_content1{
    font-size: 26px;
    margin-top: 30px;
    margin-left: 30px;
    float: left;
    width: 450px;
}

.note_img{
    width: 347px;
    height: 360px;
    background-color: #c4e6ef;
    margin-top: -30px;
    margin-left: -30px;
    margin-right: 111px;
}

.note_img img{
    margin-top: 33px;
    margin-left:37px;
    width : 310px;
}

.note_img p{
    position: relative;
    top: -280px;
    left: 35px;
    width: 60%;
}

.note_img p strong{
    color : #426e79;
}

.table1_content2{
    float: left;
    font-size: 18px;
    width: 955px;
}

.table1_content2_first{
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 2px dotted #ccc;
    width: 100%;
}

.table1_content2_first h4{
    float: left;
    width: 160px;
    padding-left: 16px;
}

.table1_content2_second{
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 2px dotted #ccc;
    width: 100%;
}

.table1_content2_second h4{
    float: left;
    width: 160px;
    padding-left: 16px;
}


.table1_content2_third{
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 2px dotted #ccc;
    width: 100%;
}

.table1_content2_third h4{
    float: left;
    width: 160px;
    padding-left: 16px;
    position: relative;
    top: 70px;
}
.table1_content2_third p{
    width:100%;
}
.table1_content2_third p img{
    width: 230px;
}

.table1_content2_fourth{
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 2px dotted #ccc;
    width: 100%;
}

.table1_content2_fourth h4{
    float: left;
    width: 160px;
    padding-left: 16px;
    padding-top: 50px;
}

.table1_content2_fourth p{
    width:100%;
}
.table1_content2_fourth p img{
    width: 230px;
}


.table1_content2_fifth{
    padding-bottom: 30px;
    padding-top: 30px;
    width: 100%;
    border-bottom: 2px dotted #ccc;
    font-size: 18px;
}

.table1_content2_fifth h4{
    float: left;
    width: 160px;
    padding-left: 16px;
}

.table1_content2_fifth span{
    margin-left: 175px;
}

.green{
    color :#497e31;
    font-weight: bold;
}

.table1_content2_sixth{
    padding-bottom: 30px;
    padding-top: 30px;
    width: 100%;
    border-bottom: 2px dotted #ccc;
}

.table1_content2_sixth h4{
    float: left;
    width: 160px;
    padding-left: 16px;
    position: relative;
    top: 180px;
}

.table1_content2_sixth p{
    width:100%;
    margin-bottom: 20px;
}
.table1_content2_sixth p img{
    width: 170px;
}

.table1_content2_seventh{
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 2px dotted #ccc;
    width: 100%;
}

.table1_content2_seventh h4{
    float: left;
    width: 160px;
    padding-left: 16px;
}

.table1_content2_eighth{
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 2px dotted #ccc;
    width: 100%;
    height: 100%;
}

.table1_content2_eighth h4{
    float: left;
    width: 160px;
    padding-left: 16px;
}

.line{
    margin-left: 175px;
}

.red{
    margin-left: 175px;
    color: #ee2323;
}

/* table1끝 */

