@font-face {
    font-family: "one";
    src: url("fonts/본문체/ONE\ Mobile\ OTF\ Regular.otf") format("truetype");
    font-weight: normal;
}
body {
    font-family: 'one';
}
* {
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.4em;
}
body {
    color: #333;
}
body {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-text-size-adjust: none;
    margin : 0;
}

.common .common_title{
    background-image:url(https://www.rda.go.kr/young/file/imageView.do?fpath=78mfPU1tH5tpGdf2EjZQb0R3AXuZGhjU7I8pBv4Rl9tqEaXhOUrKyqO8iZWgudng&fname=2lUP0R5DD%2FcE9xG4Z1MFWqTYTr98NytuMiEzSs4N44jEkq%2B633YFffxB6MQYKYiyzL6%2B6loOaDTPZnpyutfRzg%3D%3D&fmime=Lg45aghPCGTl0b%2FVATARWg%3D%3D);

    height: 17.73em;
    overflow: hidden;
   
}
.common_wrap{
    position: relative;
    margin:auto;
    max-width: 90rem;
    height: 100%;
}

.common_cover{
    font-size: inherit;
    font: 17px;
    letter-spacing: -0.05em;
    /* margin-bottom: 50px; */
    
}

.common_letter_cover{
    display: block;

}

.common_text{
    display: inline-block;
    /* line-height: normal; */
    font-weight: bold;
    text-align: center;
    width: 210px;
    font-size: 2.824rem;
    color: #333;
    padding-top: 100px;
}

.common_letter{
    display: inline-block;
    text-align: center;
}

ul span{
    text-decoration: none;
    color: #333;
    padding-left: 70px;
    margin-bottom: 20px;
    
}

.common_img{
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    left: 1126px;
    margin-top: -160px;
}

.page_wrap{
    position: relative;
    margin:auto;
    max-width: 90rem;
    height: 100%;
}

.page{
    margin: 0;
    /* overflow: hidden; */
}
.page_cover{
    max-width: 112.5rem;
}

.page_use{
    margin-top: 91px;
    overflow: hidden;
}
.category{
    margin-left:20px;
}

.ct1, .ct3, .ct4{
    display: inline-block;
    vertical-align: bottom;
    cursor: pointer;
    font-size: 18.5px;
    color: #8a8a8a;
    height: 60px;
    background-color: #ccc;
    width: 24%;
    text-align: center;
    line-height: 60px;
    margin: 0;
    border-right: solid 1px #ccc;
    border-left: solid 1px #ccc;
}

.ct2{
    display: inline-block;
    vertical-align: bottom;
    cursor: pointer;
    font-size: 18.5px;
    color: #8a8a8a;
    height: 60px;
    width: 24%;
    text-align: center;
    line-height: 60px;
    margin: 0;
    border-right: solid 1px #ccc;
    border-left: solid 1px #ccc;
    color: #555555;
    border-bottom: none;
    background-color: #fff;
    border-top: solid 3px #7fb069;
    
}
a{
    text-decoration: none;
}
/* 페이지 공통 끝*/

.box_text{
    margin-top: 82px;
    margin-left: 20px;
    padding: 24px 0;
    background-color: #f4f4f4;
    text-align: center;
    border-radius: 10px;
    font-size: 18.5px;
    height: 61px;
}

.box_text .bot_text{
    line-height: 35px;
}


.table_wrap{
    position: relative;
    margin:auto;
    max-width: 90rem;
    height: 100%;
}

.table{
    margin: 110px 151px 0 0;
}

.table1{
    border-top: 1px solid #ccc;
    padding-top: 30px;
    width: 1400px;
    height: 520px;
    margin-left: 20px;
}

.table1::before{
    content: '';
    display: block;
    clear: both;
    width: 220px;
    height: 3px;
    background: #46351d;
    margin-top: -32px;
}

.table1_content1::before{
    content: '';
    display: block;
    clear: both;
    width: 73px;
    height: 88px;
    background: url(https://www.rda.go.kr/young/images/sub01/sub01_01_ico01.png) no-repeat;
}

.table1_content1{
    font-size: 26px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 30px;
    float: left;
    width: 450px;
}

.note1{
    margin-top: -40px;
    margin-left: 34px;
}

.table1_content2{
    float: left;
    font-size: 19px;
    width: 920px;
}

.table1_content2_first{
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 2px dotted #ccc;
    width: 100%;
}

.table1_content2_first h4{
    float: left;
    width: 160px;
    padding-left: 16px;
}

.table1_content2_second{
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 2px dotted #ccc;
    width: 100%;
}

.table1_content2_second h4{
    float: left;
    width: 160px;
    padding-left: 16px;
}

.table1_content2_third{
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 2px dotted #ccc;
    width: 100%;
}

.table1_content2_third h4{
    float: left;
    width: 160px;
    padding-left: 16px;
}

.table1_content2_third .red{
    margin-left: 175px;
    color: #ee2323;
}

.table1_content2_fourth{
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 2px dotted #ccc;
    width: 100%;
}

.table1_content2_fourth h4{
    float: left;
    width: 160px;
    padding-left: 16px;
}

.table1_content2_fourth span{
    margin-left: 175px;
}


.table1_content2_fourth .red{
    margin-left: 175px;
    color: #ee2323;
}

.table1_content2_fifth{
    padding-bottom: 30px;
    padding-top: 30px;
    width: 100%;
    
}

.table1_content2_fifth h4{
    float: left;
    width: 160px;
    padding-left: 16px;
}

.table1_content2_fifth span{
    margin-left: 175px;
}


/* table1끝 */



.table2{
    border-top: 1px solid #ccc;
    padding-top: 30px;
    width: 1400px;
    height: 625px;
    margin-left: 20px;
}

.table2::before{
    content: '';
    display: block;
    clear: both;
    width: 220px;
    height: 3px;
    background: #464d77;
    margin-top: -32px;
}

.table2_content1::before{
    content: '';
    display: block;
    clear: both;
    width: 73px;
    height: 88px;
    background: url(https://www.rda.go.kr/young/images/sub01/sub01_01_ico02.png) no-repeat;
}

.table2_content1{
    font-size: 26px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 30px;
    float: left;
    width: 450px;
}

.note2{
    margin-top: -40px;
    margin-left: 34px;
    color: #464d77
}

.table2_content2{
    float: left;
    font-size: 19px;
    width: 920px;
}

.table2_content2_first{
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 2px dotted #ccc;
    width: 100%;
}

.table2_content2_first h4{
    float: left;
    width: 160px;
    padding-left: 16px;
}

.green{

    color :#497e31;
    font-weight: bold;
}
.line{
    margin-left: 175px;
    
}

.table2_content2_second{
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 2px dotted #ccc;
    width: 100%;
}

.table2_content2_second h4{
    float: left;
    width: 160px;
    padding-left: 16px;
}

.table2_content2_third{
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 2px dotted #ccc;
    width: 100%;
}

.table2_content2_third h4{
    float: left;
    width: 160px;
    padding-left: 16px;
}

.table2_content2_fourth{
    padding-bottom: 30px;
    padding-top: 30px;
    width: 100%;
}

.table2_content2_fourth h4{
    float: left;
    width: 160px;
    padding-left: 16px;
}

.table2_content2_fourth span{
    margin-left: 175px;
}

.table2_content2_fifth{
    padding-bottom: 30px;
    padding-top: 30px;
    width: 100%;
}

.table2_content2_fifth h4{
    float: left;
    width: 160px;
    padding-left: 16px;
}

.table2_content2_fifth span{
    margin-left: 175px;
}

/* table2 끝 */



.table3{
    border-top: 1px solid #ccc;
    padding-top: 30px;
    width: 1400px;
    margin-left: 20px;
}

.table3::before{
    content: '';
    display: block;
    clear: both;
    width: 220px;
    height: 3px;
    background: #46351d;
    margin-top: -32px;
}

.table3_content1::before{
    content: '';
    display: block;
    clear: both;
    width: 73px;
    height: 88px;
    background: url(https://www.rda.go.kr/young/images/sub01/sub01_01_ico03.png) no-repeat;
}

.table3_content1{
    font-size: 26px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 30px;
    float: left;
    width: 450px;
}

.note3{
    margin-top: -40px;
    margin-left: 34px;
    color:#46351d;
}

.table3_content2{
    float: left;
    font-size: 19px;
    width: 920px;
}

.table3_content2_first{
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 2px dotted #ccc;
    width: 100%;
}

.table3_content2_first h4{
    float: left;
    width: 160px;
    padding-left: 16px;
}

.table3_content2_second{
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 2px dotted #ccc;
    width: 100%;
}

.table3_content2_second h4{
    float: left;
    width: 160px;
    padding-left: 16px;
}

.table3_content2_third{
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 2px dotted #ccc;
    width: 100%;
}

.table3_content2_third h4{
    float: left;
    width: 160px;
    padding-left: 16px;
}

.table3_content2_first a:hover, .table3_content2_third a:hover{
    text-decoration: underline;
}

.source {
    float: right;
    color: #666;
    margin: 50px 20px 120px 0;
}