@charset "UTF-8";

@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    font: 17px/1.5 "ONE-Mobile-Regular";
    letter-spacing: -0.05em;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    font-size: inherit;
}

img {
    max-width: 100%;
    height: auto;
    border: 0 none;
    -webkit-tap-highlight-color: transparent;
}

ul, li{
    list-style: none;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    color: inherit;
}

body {
    margin: 0;
}

/* header */
.sub_title{
    width: 100%;
    background-image: url(https://www.rda.go.kr/young/file/imageView.do?fpath=78mfPU1tH5tpGdf2EjZQb0R3AXuZGhjU7I8pBv4Rl9tqEaXhOUrKyqO8iZWgudng&fname=mFFphUfLAB1Ng3Mg1ZV37SJqwwEzgE5GIwhDyL%2F6Nz9VBYOJAsth1MTks%2BecMj4rSFgVYwnGGTl6kLgmqqoWCw%3D%3D&fmime=Lg45aghPCGTl0b%2FVATARWg%3D%3D);
    padding: 4.706rem 0 0;
    z-index: 2;
    box-sizing: border-box;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    bottom: 5.353rem;
    position: relative;
    height: 17.353rem;
}
.container {
    height: 100%;
    max-width: 82.353rem;
    margin: auto;
    position: relative;
}
.sub_title .inner {
    position: relative;
    width: 100%;
    height: 15.353em;
    margin: 0 auto;
}
.title_left_box {
    display: inline-block;
    vertical-align: top;
    padding-top: 3.529rem;
    position: relative;
    width: 100%;
}
nav.snb{
    display: block;
}
.snb .top{
    letter-spacing: -0.05em;
    line-height: normal;
    font-weight: bold;
    width: 210px;
    font-size: 2.824rem;
    color: #333;
    /* margin-top: 2.941rem; */
}
ul.lgr_ul{
    list-style: none;
    width: 450px;
    padding-left: 0;
}
.sub_wrap .sub_title ul li{
    list-style: none;
    font-size: 0.882rem;
}

li.nowMenu{
    float: left;
    color: #333;
    font-weight: 600;
    font-size: 0.941rem;
}

.snb ul[data-level="1"]>li.nowMenu>a>span {
    color: #333;
    font-weight: 600;
}

.lgr_ul li{
    font-size: 0.882rem;
    letter-spacing: -0.05em;
    float: left;
}


.snb ul[data-level="1"]>li+li:before {
    content: '/';
    margin: 0 1.176rem;
    color: rgb(0, 0, 0, .5);
}

.snb ul li a span {
    font-size: 0.941rem;
    color: rgb(0, 0, 0, .5);
}

.title_right_box {
    position: absolute;
    right: 0;
    bottom: 2rem;
    vertical-align: top;
}







