div#content-wrap-top {
    margin-top: 80px;
}

div.content-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.content-wrap .contents {
    margin: 5px;
    width: 40vw;
    height: 30vw;
    background-color: #fff;
    box-shadow: 0.1px 0.1px 8px -5px #7c7c7c;
}

div.content-wrap .small {
    margin: 5px;
    width: 40vw;
    height: 20vw;
    background-color: #fff;
    box-shadow: 0.1px 0.1px 8px -5px #7c7c7c;
}
div.content-wrap .double {

div.content-title {
    /* width: 100%; */
    height: 45px;
    padding-left: 15px;
    border-bottom: 1px solid #7c7c7c34;
}

div.none {
    border-bottom: none;
}

div.content-title div.title {
    display: inline;
    width: 80%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    line-height: 45px;
}

div.content-title div.title2 {
    display: inline;
    float: right;
    width: 20%;
    padding-right: 20px;
    
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
    text-align: right;
    line-height: 40px;
    color: #33333381;
}

div.content-title div.title2 a {
    text-decoration: 0;
    font-size: 12px;
    font-weight: 500;
    color: #33333381;
}

div.content-title div.title2 a:hover {
    font-weight: 600;
    color: #444444;
}

div.contents .c-content { height: calc(100% - 45px); }

/* 차트 */
div#lineChart {
    width: 87%;
    height: 85%;
    padding-top: 6%;
    margin: 0 auto;
}

div.c-content table {
    width: 100%;
    height: 100%;

    border-collapse: collapse;

    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    color: #7c7c7c;
    font-weight: 600;
}

div.c-content table tr {
    font-size: 0.7vw;
    border-top: 1px solid #7c7c7c34;
}

div.c-content table tr.check {
    background-color: #f7dad288;
}

@media screen and (max-width: 950px) {
    div#container header span {
        font-size: 9px;
    }

    div#container header span strong {
        font-size: 11px;
    }

    header span#admin-mode {
        margin-right: 10px;
    }

    div.content-wrap {
        flex-wrap: wrap;
    }

    div.content-wrap .contents {
        width: 52vw;
        height: 42vw;
        justify-content: center;
    }

}