div.wrap {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #666666;
}

/* ----------------------------------------------------------------------- */
/* 회원탈퇴 안내문 */
form.dropUserForm div.title {
    text-align: center;
    border-bottom: 2px solid black;
}
form.dropUserForm div.title h2 {
    margin-bottom: 50px;
    font-size: 28px;
    color: #333333;
}
form.dropUserForm {
    width: 640px;
    margin: 0 auto;
}
div.dropContainer div.dropInfo {
    padding: 10px 0 10px 20px;
    display: flex;
}

/* 회원탈퇴안내 */
div.dropInfo div#bigca {
    width: 139px;
    padding-top: 12px;
    color: #333333;
}
div.dropInfo div.smallca {
    width: 481px;
    padding-top: 12px;
}
div.smallca span {
    color: #2aa525;
    display: inline-block;
    padding: 19px 0 12px;
}

/* ----------------------------------------------------------------------- */
/* 비밀번호 입력 부분 */
div.passwordCheck {
    display: flex;
    padding: 10px 20px;
    line-height: 46px;
    vertical-align: middle;
    width: 100%;
}
div#passwordCheckText {
    width: 139px;
    color: #333333;
    line-height: 49px;
    vertical-align: middle;
}
div.passwordInputDiv {
    width: 50%;
}
input.passwordInput {
    height: 46px;
    width: 100%;
    padding: 0px 11px 1px 15px;
    border: 1px solid rgb(221 221 221);
    border-radius: 5px;
}

/* ----------------------------------------------------------------------- */
/* 불편사항 체크박스(피드백) */
div.feedback {
    display: flex;
    margin: 0 auto;
}
div.feedback div#feedbackText {
    padding: 10px 0 12px 20px;
    width: 161px;
    margin-right: 10px;
    color: #333333;
    letter-spacing: -1.5px;
}
div.feedback div.checkBox span {
    display: inline-block;
    width: 49%;
    vertical-align: middle;
    line-height: 28px;
    margin-bottom: 13px;
}
div.feedback div.checkBox span a {
    cursor: pointer;
    width: auto;
}
div.checkBox {
    padding: 5px 0 0 0px;
}
div.checkBox span img {
    line-height: 28px;
    vertical-align: middle;
    margin-right: 20px;
}

/* ----------------------------------------------------------------------- */
/* 텍스트 필드 */
/* 임시 div */
div.feedback {
    padding: 0px 10px 0px 0px;
}
div.feedback div.feedback_back {
    width: 135px;
    margin-right: 30px;
}
/* textarea */
div.feedback #feedbackInput {
    border: 1px solid rgb(221 221 221);
    border-radius: 5px;
    resize: none;
    padding: 20px;
    width: 480px;
    font-size: 14px;
    margin-left: 10px;
    padding-left: 15px;
}
textarea#feedbackInput::placeholder,
input.passwordInput::placeholder {
    color: rgb(179, 176, 176);
    font-family: 'Noto Sans KR', sans-serif;
}

/* ----------------------------------------------------------------------- */
/* 버튼 */
div.btn {
    text-align: center;
    margin: 40px;
}
div.btn input[type=button] {
    padding: 0 10px;
    height: 44px;
    width: 120px;
    margin-right: 5px;
    border: 1px solid #7fb069;
    background-color: white;
    color: #7fb069;
    cursor: pointer;
    font-weight: bold;
}
div.btn #submitBtn {
    background-color: #7fb069;
    color: #ffffff;
}



/* ------------------------------------------------------------------ */
/* CSS 초기설정 */
* {
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}



/* ------------------------------------------------------------------ */
div.wrap {
    width: 100%;
}


/* 네비게이션바 아래 title */
div.sub_title {
    background-color: antiquewhite;
    background-image: url("https://www.rda.go.kr/young/file/imageView.do?fpath=78mfPU1tH5tpGdf2EjZQb0R3AXuZGhjU7I8pBv4Rl9tqEaXhOUrKyqO8iZWgudng&fname=CwpuoJHL%2FKLc0%2BUEvvptYk3Doye33FfKkrZOai5V4eyfJpwkcUEvM%2Bk1GaKR5UCwCQ2OQHfSCOCioOTsdp1yYw%3D%3D&fmime=Lg45aghPCGTl0b%2FVATARWg%3D%3D");
    padding: 4.706rem 0 0;
    overflow: hidden;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    position: relative;
    bottom: 5.353rem;
    height: 18.253rem
}

/* 큰 틀 사이즈 */
div.sub_title .container {
    max-width: 82.353rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

/* 글자,아이콘,이미지 넣을 div */
div.sub_title .container .inner {
    width: 100%;
    height: 15.353em;
    position: relative;
}

/* 마이페이지 글씨 */
div.left_font {
    display: inline-block;
    vertical-align: top;
    padding-top: 3.529rem;
    position: relative;
    width: 100%;
}

div.mypage .top {
    display: inline-block;
    line-height: normal;
    font-weight: bold;
    width: 287px;
    font-size: 2.824rem;
    color: #333;
}

/* ------------------------------------------------------------------ */

/* 버튼 설정(공유, 확대, 축소 순) */
.btn_optList {
    display: inline-block;
    position: relative;
    margin-top: 30px;
}

.btn_optList .share {
    background-image: url("https://www.rda.go.kr/young/images/common/ico/common_ico_share.png");
    background-repeat: no-repeat;
    width: 23px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
}

.page-size.plus,
.page-size.minus {
    background-repeat: no-repeat;
    cursor: pointer;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 20px;
}

.page-size.plus {
    background-image: url("https://www.rda.go.kr/young/images/common/ico/common_ico_plus.png");
}

.page-size.minus {
    background-image: url("https://www.rda.go.kr/young/images/common/ico/common_ico_minus.png");
    top: 6px;
    position: relative;
}








/* 일러스트 설정 */
.title_right_box {
    position: absolute;
    right: 0;
    bottom: 0rem;
    vertical-align: top;
    display: inline-block;
}

.title_right_box img {
    display: block;
}

/* ------------------------------------------------------------------ */

/* 회원정보 폼 설정 */
div.sub_content {
    margin: 0;
    overflow: hidden;
    margin-bottom: 100px;
}
div.sub_content .container {
    max-width: 88.353rem;
    margin: 0 auto;
}
div.sub_content div.inner {
    width: 100%;
    float: right;
}

/* 좌우에 있는 박스 설정 */
.user_info .user_box {
    display: inline-block;
    vertical-align: middle;
}
/* 아이콘 + 버튼 div 가로정렬 */
.user_info .user_box .user_pic,
.user_info .user_box .user_i {
    display: inline-block;
    vertical-align: middle;
}
/* 아이콘 설정 */
.user_info {
    width: 100%;
    height: 10.588rem;
    background: #f3faf0 url("https://www.rda.go.kr/young/images/site/login/my_bg_01.png") no-repeat;
    background-position: 100% 70%;
    border: 0.059rem solid #ccc;
    /* 좌우하 테투리 */
    border-top: 0.118rem solid #7fb069;
}
/* 아이콘 뒷배경 동그라미 */
.user_info .user_box .user_pic {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    margin-right: 2rem;
    width: 6.471rem;
    height: 6.471rem;
    background-color: #fff;
    border-radius: 50%;
}

/* 글자 설정 */
.user_info .user_box .user_i p {
    font-size: 0.941rem
}
.user_info .user_box .user_i p span {
    font-weight: bold;
    font-size: 1.176rem;
    margin: 0 0.588rem 0 1.176rem;
}

/* 기능버튼(로그아웃,정보수정,권한신청) */
.user_info .user_box .user_i ul {
    margin-top: 1.471rem;
}
.user_info .user_box .user_i ul li {
    display: inline-block;
}
.user_info .user_box .user_i ul li+li {
    margin-left: 0.882rem;
}
.user_info .user_box .user_i ul li a {
    display: block;
    width: 5.882rem;
    height: 2.059rem;
    line-height: 2.059rem;
    text-align: center;
    font-size: 0.824rem;
    background-color: #fff;
    border: 0.059rem solid #ccc;
    border-radius: 1.176rem;
}
.user_info .box01 {
    margin: 2.059rem 0 0 5.882rem;
}

/* 오른쪽 가입형태, 지역, 농작물 */
.user_info .box02 {
    float: right;
    margin-top: 1.471rem;
    margin-left: 0.647rem;
    margin-right: 240px;
    vertical-align: top;
}
.user_info .box02 ul li {
    display: inline-block;
    text-align: center;
    height: 7.059rem;
    padding: 0 4.118rem;
}
.user_info .box02 ul li+li {
    border-left: 0.059rem solid #dadcd9;
}
/* 첫 번째와 마지막 항목에는 오른쪽 패딩 먹임 */
.user_info .box02 ul li:first-child {
    padding: 0 4.118rem 0 0;
}
.user_info .box02 ul li:last-child {
    padding: 0 0 0 4.118rem;
}
/* 분류(가입형태, 지역) 글자 설정 */
.user_info .box02 ul li p:first-child {
    font-size: 0.941rem;
    margin-top: 0.941rem;
}
.user_info .box02 ul li:first-child p:first-child:before {
    content: "";
    display: block;
    margin: 0 auto 0.765rem;
    width: 2.412rem;
    height: 2.353rem;
    background: url('images/writeImage.JPG');
    background-size: cover;
}
/* 각 분류별 회원이 입력한 정보 */
.user_info .box02 ul li:nth-child(2) p:first-child:before {
    content: "";
    display: block;
    margin: 0 auto 0.765rem;
    width: 2.824rem;
    height: 2.059rem;
    background: url('images/location.JPG');
    background-size: cover;
}
.user_info .box02 ul li:last-child p:first-child:before {
    content: "";
    display: block;
    margin: 0 auto 0.765rem;
    width: 1.529rem;
    height: 2.059rem;
    background: url('images/farmingTool.JPG');
    background-size: cover;
}
.user_info .box02 ul li p:last-child {
    display: inline-block;
    margin-top: 0.294rem;
    font-weight: bold;
    font-size: 1.059rem;
    position: relative;
    padding: 0 0.353rem;
    z-index: 1;
}
/* 회원이 입력한 정보의 조그마한 뒷배경 */
.user_info .box02 ul li p:last-child:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0.471rem;
    width: 100%;
    height: 0.8rem;
    background: rgb(127, 176, 105, .2);
    border-radius: 1.35rem;
    z-index: -1;
}
/* 회원이 입력한 정보 즉, 가입형태 -> 일반인 등의 글자 설정 */
.user_info .box02 ul li p span {
    font-weight: bold;
    font-size: 1.059rem;
    margin-left: 8px;
}