@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    font: 17px/1.5 "ONE-Mobile-Regular";
    letter-spacing: -0.05em;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    font-size: inherit;
}

body {
    margin: 0;
}

/** HEADER */
header.header {
    width: 100%;
    position: relative;
    z-index: 3;
}

header.header .util_wrap {
    width: 100%;
    margin: auto;
    font-size: 0.882rem;
    border-bottom: 0.059rem solid #cecece;
    overflow: hidden;
}

header.header .util_wrap .left_box {
    float: left;
}

header.header .util_wrap .right_box {
    float: right;
}

header.header .util_wrap .bg1 {
    background: #006999;
}

header.header .util_wrap .bg2 {
    background: #0a81b8;
}

header.header .util_wrap ul {
    width: 13.529rem;
    overflow: hidden;
}

header.header .util_wrap ul li {
    width: 50%;
    float: left;
    text-align: center;
}

header.header .util_wrap ul li a {
    display: block;
    color: #fff;
    line-height: 2.647rem;
}

header.header .util_wrap ul li a:hover,
header.header .util_wrap ul li a:focus {
    background: #333;
    transition: all .2s;
}

header.header .logo_wrap {
    width: 100%;
    max-width: 82.353rem;
    margin: auto;
    height: 4.706rem;
    line-height: 4.706rem;
}

header.header .logo_wrap .logo {
    width: 14.706rem;
    float: left;
    height: 4.706rem;
    line-height: 4.706rem;
}

header.header .logo_wrap .logo>a:focus {}

header.header .logo_wrap .logo>a>img {
    vertical-align: middle;
}

header.header .logo_wrap .gnb_wrap {
    width: calc(100% - 15.882rem);
    float: left;
}

/* header.header .logo_wrap .gnb_wrap:hover{
	height: 300px;
    width: 100%;
    position: absolute;
    background-color: #ccc;
} */


#lgr_headlogo {
    display: none;
}

#lgr_login {
    display: inline-block;
    position: relative;
    left: 1310px;
    top: -77px;
    font-size: 14px;
    background-color: #464d77;
    color: #fff;
    width: 80px;
    height: 22px;
    padding-top: 3px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
}

#lgr_join {
    display: inline-block;
    position: relative;
    left: 1325px;
    top: -77px;
    font-size: 14px;
    background-color: #464d77;
    color: #fff;
    width: 80px;
    height: 22px;
    padding-top: 3px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
}

#lgr_topbtn {
    position: fixed;
    top: 700px;
    right: 20px;
}

/** //HEADER */

/** GNB */
.gnb_wrap {}

.gnb {
    width: 100%;
}

.gnb>ul {
    text-align: right;
    margin-top: 0;
}

.gnb>ul>li {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.gnb>ul>li>a {
    display: block;
    height: 4.706rem;
    line-height: 4.706rem;
    padding: 0 1.765rem;
    font-size: 1.118rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.gnb>ul>li>a>span {
    font-size: 1.059rem;
    font-weight: bold;
}

.gnb>ul>li.on>a>span,
.gnb>ul>li>a:hover>span,
.gnb>ul>li>a:focus>span {
    border-bottom: 0.118rem solid #006999;
    padding-bottom: 0.294rem;
    transition: all .2s;
}

.gnb>ul ul {
    display: none;
}

.gnb li.on>ul {
    display: block;
}

.gnb ul[data-level="2"] {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 10;
    text-align: center;
}

/*.gnb ul[data-level="2"] {position:absolute; width:100%; top:136px; left:0; z-index:10; background:#fff; text-align:center; border-bottom:0.059rem solid #e8e8e8;}*/
.gnb ul[data-level="2"]>li {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.gnb ul[data-level="2"]>li>a {
    display: block;
    height: 2.353rem;
    line-height: 2.353rem;
    padding: 0 1.765rem;
    font-size: 1rem;
}

.gnb ul[data-level="2"]>li>a>span {
    font-size: 1rem;
}

.gnb ul[data-level="2"]>li>a:hover>span,
.gnb ul[data-level="2"]>li>a:focus>span {
    border-bottom: 0.118rem solid #006999;
    padding-bottom: 0.294rem;
    transition: all .2s;
}

/** //GNB */

/* gnb 마우스 오버하면 나타나는 영역 생성 */
.lgr_back{
	display: none;
	position: absolute;
    z-index: 4;
    width: 100%;
    height: 360px;
    background-color: #fff;
}

.lgr_background_f9f9f9{
	background-color: #f9f9f9;
	width: 100%;
	height: 280px;
	display: inline-block;
	vertical-align: top;
}

.lgr_background_003668{
	background-color: #003668;
	width: 35.7%;
	height: 280px;
	border-bottom-right-radius: 60px;
	display: inline-block;
	vertical-align: top;
	text-align: right;
}

.lgr_backg_logo {
    width: 35.7%;
    height: 80px;
    text-align: center;
    line-height: 80px;
    display: inline-block;
}

.lgr_gnbhead{
	height: 80px !important;
	line-height: 80px !important;
}

.lgr_gnbhead a{
	font-size: 24px;
	font-weight: bold;
    text-decoration: none;
    color: #333333;
}

.lgr_normal_link {
    display: inline-block;
    vertical-align: top;
    margin-top: -6rem;
    width: 60%;
    text-align: center;
    margin-left: -2rem;
}

.lgr_normal_link ul {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 0%;
    margin-right: 0%;
    list-style: none;
}

.lgr_normal_link ul li{
	width: 100%;
	text-align: center;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	color: #333333;
    list-style: none;
}

.lgr_normal_link ul li a{
    text-decoration: none;
    color: #333333;
}

/* mouse hover시 효과 */
.lgr_normal_link ul li a:hover{
	color: #7fb069;
	cursor: pointer;
	transition: all ease .3s 0s;
}
