@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
/* ↓ 영어 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');
* {
    font-family: 'Noto Sans KR', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div.checklist-wrap {
    max-width: 1100px;
    margin: auto;
    margin-bottom: 40px;
}

div.checklist-wrap table {
    width: 100%;
    border-spacing: 0;
    margin: 0;
    padding: 0;

}

/* 점수표 */
div.score-table{ margin-top: 30px !important; }

table.score-table {
    border-top: 2px solid #565656;
    border-left: 1px solid #d9e0d3;

    font-size: 14px;
    font-weight: 500;
}

table.score-table tr th, table.score-table tr td {
    border-bottom: 1px solid #d9e0d3;
    border-right: 1px solid #d9e0d3;
    vertical-align: middle;
}

table.score-table tr th {
    padding: 8px 7px;
    background-color: #edf2e8;
    font-weight: 500;
}

.table-wrap tbody tr:nth-last-child(2), tr:last-child td { background: none; }

table.score-table tr td {
    padding: 11px 10px;

    text-align: center;
    line-height: 20px;
    color: #575757;
}


/* 테스트 표 */
div.check-table { margin-top: 15px !important; }

table.check-table thead {
    font-size: 13px;
    font-weight: 400;
    color: #3d3d3d;
    border-top: 1px solid #565656;
    border-bottom: 1px solid #ababab;
}

table.check-table thead th {
    padding: 12px 0;
    border-left: 1px solid #e8e6e6;
    border-right: 1px solid #e8e6e6;
    background-color: #fbfbfb;
    vertical-align: middle;
    
    font-size: 14px;
    font-weight: 600;
    color: #262525;
}

table.check-table tbody td {
    border-bottom: 1px solid #ebe9e9;
    padding: 11px 0 11px 0;
    text-align: center;
    vertical-align: middle;
    line-height: 18px;
    font-size: 14px;
    color: #4a4a4a;
    font-weight: 400;
    letter-spacing: -0.03em;
}

table.check-table tbody td.td_left {
    padding-left: 10px;
    font-weight: 400;
    text-align: left !important;
    color: #6b6b6b;
}

span.source {
    font-size: 14px;
    color: #9d9c9c;
    margin-top: 12px;
    text-align: right;
    display: block;
}

div.next-step {
    margin-top: 25px !important;
    display: flex;
}

div.next-step button {
    width: 153px;
    height: 41px;
    margin: 0 auto;
    padding: 0 30px;
    padding-left: 64px;
    background-color: #FF7800;
    border: 0;
    
    line-height: 41px;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
}

span.arrow-btn{
    background: url('../image/arrow.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}