@font-face {
    font-family: "one";
    src: url("fonts/본문체/ONE\ Mobile\ Regular.ttf") format("truetype");
    font-weight: normal;
}
body {
    font-family: 'one';
    margin-left: 0px;
}
.sub_title{
    width: 100vw;
    background-image: url(https://www.rda.go.kr/young/file/imageView.do?fpath=78mfPU1tH5tpGdf2EjZQb0R3AXuZGhjU7I8pBv4Rl9tqEaXhOUrKyqO8iZWgudng&fname=l%2BFlhnD03GsJ%2Fchs5vcnWANjaPVA8jceO3zpgcD7G8yWklFi5FyBa5sbhA28X6QWCVj7vfrcTg1bL8qWZ5zq2A%3D%3D&fmime=Lg45aghPCGTl0b%2FVATARWg%3D%3D);
    padding: 4.706rem 0 0;
    z-index: 2;
    box-sizing: border-box;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    bottom: 6.353rem;
    position: relative;
    height: 17.353rem;
}
.container {
    height: 100%;
    max-width: 82.353rem;
    margin: auto;
    position: relative;
}
.sub_title .inner {
    position: relative;
    width: 100%;
    height: 15.353em;
    margin: 0 auto;
}
.title_left_box {
    display: inline-block;
    vertical-align: top;
    padding-top: 3.529rem;
    position: relative;
    width: 100%;
}
nav.snb{
    display: block;
}
.snb .top{
    letter-spacing: -0.05em;
    line-height: normal;
    font-weight: bold;
    font-size: 2.824rem;
    color: #333;
    /* margin-top: 2.941rem; */
}
ul.lgr_ul{
    font-family: 'one';
    list-style: none;
}
.sub_wrap .sub_title ul li{
    list-style: none;
    font-size: 0.882rem;
}
li.nowMenu{
    float: left;
    color: #333;
    font-weight: 600;
    font-size: 0.941rem;
}
li.nowMenu::after{
    content: '/';
    margin: 0 1.176rem;
    color: rgb(0,0,0,.5);
}
.lgr_ul li{
    font-size: 0.941rem;
    letter-spacing: -0.05em;
}
.secondMenu{
    float: right;
    color: rgb(0,0,0,.5);
    font-size: 0.941rem;
}
.title_right_box {
    position: absolute;
    right: 0;
    bottom: 2rem;
    vertical-align: top;
}
/* 여기까지 헤더 */
body {
    font-family: 'one';
    margin-left: 0px;
}
.conwrap{
    max-width: 82.353rem;
    margin : 0 auto;
    text-align: center;
    padding: 40px 40px 30px;
    height: 500px;
    margin-top: 15px;
    background-image: url(http://returnfarm.gwd.go.kr/image/counseling/mentoring-bg3.gif);
}

.process{
    width: 1000px;
    height: 450px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.contit{
    font-size: 18px;
    font-weight: 700;
    color: #534741;
    position: relative;
    padding-bottom: 105px;
}
.contit::before{
        position: absolute;
        left: 50%;
        margin-left: -30px;
        bottom: 80px;
        content: "";
        width: 70px;
        height: 1px;
        background: #736357;
}
.main_guide{
    display: block;
    margin: 0 auto;
    background: url(http://returnfarm.gwd.go.kr/image/counseling/mentoring-bg1.gif) no-repeat left top;
    padding: 75px 20px 96px;
    text-align: center;
    color: #fff;
}
.clearfix{
    margin: 0 auto;
    list-style: none;
    display: flex;
}
.stepnum{
    height: 58px;
    width: 69px;
    background-image: url(http://returnfarm.gwd.go.kr/image/counseling/mentoring-stepbg.png);
    color: white;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    left: 50%; 
    top: -19px; 
    margin-left: -30px;
    padding-top: 11px;
}
.conarea {
    background: #fff;
    padding: 50px 10px 60px;
    min-height: 130px;
}
.clearfix li {
    display: list-item;
    width: 30%;
    padding: 0 10px;
    position: relative;
}

@font-face {
    font-family: 'one';
    src: url("fonts/본문체/ONE\ Mobile\ Regular.ttf") format("truetype");
    font-weight: normal;
}
.main_wrap{
    width: 82.353rem;
    margin: 0 auto;
}
p.tit{
    font-size: 30px;
    font-weight: 700;
}
.desc::before{
    position: absolute;
    content: "";
    left: 48%;
    top: 42px;
    width: 4%;
    height: 1px;
    background: #f7941d;
}
p.desc{
    padding-top: 80px;
    font-size: 16px;
    position: relative;
    line-height: 20px;
}
p.desc strong{
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 10px;
}
.sub_guide{
    padding: 118px 0;
    height: 660px;
}
.stepnum strong{
    font-size: 30px;
    font-weight: 700;
    display: block;
    line-height: 1;
}
.conarea{
    line-height: 1.5;
    color: #666666;
    letter-spacing: 0;
    -webkit-text-size-adjust: none;
}
.conarea strong {
    display: block;
    font-size: 18px;
    color: #464646;
    font-weight: 700;
    margin-bottom: 15px;
}
.view_tit{
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    line-height: 80px;
    height: 80px;
    border-top: 3px solid #666666;
    background-color: #e8f1ef;
    margin: 0 auto 40px;
    width: 82.353rem;

}
.view_main{
    width: 82.353rem;
    margin: 0 auto;
}
.view_main img{
    width: 580px;
    float: left;
}
.detail_info{
    width: 540px;
    text-align: left;
    float: right;
}

a.apply_on{
    display: inline-block;
    background-color: #999999;
    width: 150px;
    height: 35px;
    border-radius: 22px;
    background-color: #0073e2;
    text-decoration: none;
}
.info_apply a span{
    display: block;
    text-align: center;
    font-size: 20px;
    color: #fff;
    line-height: 31px;
    font-weight: 400;
    letter-spacing: -0.5px;
    padding-top: 3px;
}
table{
    border-collapse: collapse;
}
.info_table{
        margin-top: 30px;
        width: 100%;
        border-top: 1px solid #cccccc;
}
.info_table tbody{
    position: relative;
}
colgroup{
    display: table-column-group;
}
.info_table tr{
        height: 60px;
        border-bottom: 1px solid #cccccc;
}
.info_table tr td{
        text-align: left;
        padding-left: 40px;
}
td span.list_icon::before{
    content: "";
    background-image: url(https://www.kofpi.or.kr/resources/images/edu/common/cnt_icon01.png);
    width: 17px;
    height: 17px;
    position: absolute;
    left: 20px;
    background-repeat: no-repeat;
}
#firstStep{
    background-size: cover;
    height: 101px;
    width: 112px;
    top: -61px;
    left: 132px;
    font-size: 27px;
}
#firstStep strong{
    font-size: 44px;
}