@font-face {
    font-family: "one";
    src: url("fonts/본문체/ONE\ Mobile\ Regular.ttf") format("truetype");
    font-weight: normal;
}


/* 헤더 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    font: 17px/1.5 "ONE-Mobile-Regular";
    letter-spacing: -0.05em;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    font-size: inherit;
}

body {
    margin: 0;
}

/** HEADER */
header.header {
    width: 100%;
    position: relative;
    z-index: 3;
}

header.header .util_wrap {
    width: 100%;
    margin: auto;
    font-size: 0.882rem;
    border-bottom: 0.059rem solid #cecece;
    overflow: hidden;
}

header.header .util_wrap .left_box {
    float: left;
}

header.header .util_wrap .right_box {
    float: right;
}

header.header .util_wrap .bg1 {
    background: #006999;
}

header.header .util_wrap .bg2 {
    background: #0a81b8;
}

header.header .util_wrap ul {
    width: 13.529rem;
    overflow: hidden;
}

header.header .util_wrap ul li {
    width: 50%;
    float: left;
    text-align: center;
}

header.header .util_wrap ul li a {
    display: block;
    color: #fff;
    line-height: 2.647rem;
}

header.header .util_wrap ul li a:hover,
header.header .util_wrap ul li a:focus {
    background: #333;
    transition: all .2s;
}

header.header .logo_wrap {
    width: 100%;
    max-width: 82.353rem;
    margin: auto;
    height: 4.706rem;
    line-height: 4.706rem;
}

header.header .logo_wrap .logo {
    width: 14.706rem;
    float: left;
    height: 4.706rem;
    line-height: 4.706rem;
}

header.header .logo_wrap .logo>a:focus {}

header.header .logo_wrap .logo>a>img {
    vertical-align: middle;
}

header.header .logo_wrap .gnb_wrap {
    width: calc(100% - 15.882rem);
    float: left;
}

/* header.header .logo_wrap .gnb_wrap:hover{
	height: 300px;
    width: 100%;
    position: absolute;
    background-color: #ccc;
} */


#lgr_headlogo {
    display: none;
}

#lgr_login {
    display: inline-block;
    position: relative;
    left: 1310px;
    top: -90px;
    font-size: 14px;
    background-color: #464d77;
    color: #fff;
    width: 80px;
    height: 22px;
    padding-top: 3px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
}

#lgr_join {
    display: inline-block;
    position: relative;
    left: 1325px;
    top: -90px;
    font-size: 14px;
    background-color: #464d77;
    color: #fff;
    width: 80px;
    height: 22px;
    padding-top: 3px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
}

#lgr_topbtn {
    position: fixed;
    top: 700px;
    right: 20px;
}

/** //HEADER */

/** GNB */
.gnb_wrap {}

.gnb {
    width: 100%;
}

.gnb>ul {
    text-align: right;
    margin-top: 0;
}

.gnb>ul>li {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.gnb>ul>li>a {
    display: block;
    height: 4.706rem;
    line-height: 4.706rem;
    padding: 0 1.765rem;
    font-size: 1.118rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.gnb>ul>li>a>span {
    font-size: 1.059rem;
    font-weight: bold;
}

.gnb>ul>li.on>a>span,
.gnb>ul>li>a:hover>span,
.gnb>ul>li>a:focus>span {
    border-bottom: 0.118rem solid #006999;
    padding-bottom: 0.294rem;
    transition: all .2s;
}

.gnb>ul ul {
    display: none;
}

.gnb li.on>ul {
    display: block;
}

.gnb ul[data-level="2"] {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 10;
    text-align: center;
}

/*.gnb ul[data-level="2"] {position:absolute; width:100%; top:136px; left:0; z-index:10; background:#fff; text-align:center; border-bottom:0.059rem solid #e8e8e8;}*/
.gnb ul[data-level="2"]>li {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.gnb ul[data-level="2"]>li>a {
    display: block;
    height: 2.353rem;
    line-height: 2.353rem;
    padding: 0 1.765rem;
    font-size: 1rem;
}

.gnb ul[data-level="2"]>li>a>span {
    font-size: 1rem;
}

.gnb ul[data-level="2"]>li>a:hover>span,
.gnb ul[data-level="2"]>li>a:focus>span {
    border-bottom: 0.118rem solid #006999;
    padding-bottom: 0.294rem;
    transition: all .2s;
}

/** //GNB */

/* gnb 마우스 오버하면 나타나는 영역 생성 */
.lgr_back{
	display: none;
	position: absolute;
    z-index: 4;
    width: 100%;
    height: 360px;
    background-color: #fff;
}

.lgr_background_f9f9f9{
	background-color: #f9f9f9;
	width: 100%;
	height: 280px;
	display: inline-block;
	vertical-align: top;
}

.lgr_background_003668{
	background-color: #003668;
	width: 35.7%;
	height: 280px;
	border-bottom-right-radius: 60px;
	display: inline-block;
	vertical-align: top;
	text-align: right;
}

.lgr_backg_logo {
    width: 35.7%;
    height: 80px;
    text-align: center;
    line-height: 80px;
    display: inline-block;
}

.lgr_gnbhead{
	height: 80px !important;
	line-height: 80px !important;
}

.lgr_gnbhead a{
	font-size: 24px;
	font-weight: bold;
    text-decoration: none;
    color: #333333;
}

.lgr_normal_link {
    display: inline-block;
    vertical-align: top;
    margin-top: -6rem;
    width: 60%;
    text-align: center;
    margin-left: -2rem;
}

.lgr_normal_link ul {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 0%;
    margin-right: 0%;
    list-style: none;
}

.lgr_normal_link ul li{
	width: 100%;
	text-align: center;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	color: #333333;
    list-style: none;
}

.lgr_normal_link ul li a{
    text-decoration: none;
    color: #333333;
}

/* mouse hover시 효과 */
.lgr_normal_link ul li a:hover{
	color: #7fb069;
	cursor: pointer;
	transition: all ease .3s 0s;
}


/* 바디 */
body {
    font-family: 'one';
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    font: 17px/1.5 "ONE-Mobile-Regular";
    letter-spacing: -0.05em;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    font-size: inherit;
}

.wrap{
    width: 100%;
    position: relative;
    margin: auto;
    clear: both;
}
.sub_wrap{
    font: 17px/1.5 "ONE-Mobile-Regular";
    letter-spacing: -0.05em;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    font-size: inherit;
}

.sub_title{
    padding: 4.706rem 0 0;
    overflow: hidden;
    box-sizing: border-box;
    background: transparent;
    background-size: cover;
    background-position: center;
    position: relative;
    bottom: 6.353rem;
    height: 17.353rem;
    z-index: 2;
    background-image: url(https://www.rda.go.kr/young/file/imageView.do?fpath=78mfPU1tH5tpGdf2EjZQb0R3AXuZGhjU7I8pBv4Rl9tqEaXhOUrKyqO8iZWgudng&fname=l%2BFlhnD03GsJ%2Fchs5vcnWANjaPVA8jceO3zpgcD7G8yWklFi5FyBa5sbhA28X6QWCVj7vfrcTg1bL8qWZ5zq2A%3D%3D&fmime=Lg45aghPCGTl0b%2FVATARWg%3D%3D);
}
.container{
    max-width: 80%;
    margin: 0 auto;
    position : relative;
}
.sub_wrap .sub_title .inner {
    position: relative;
    width: 100%;
    height: 15.353em;
}
.inner{
    margin: 0 auto;
}

.title_left_box {
    display: inline-block;
    vertical-align: top;
    padding-top: 3.529rem;
    position: relative;
    width: 100%;
}
.snb .top{
    display: inline-block;
    line-height: normal;
    font-weight: bold;
    width: 290px;
    font-size: 2.824rem;
    color: #333;
}
.lgr_sub{
    display: inline-block;
    margin-left: 20px;
}
li.nowMenu:after {
    content: '/';
    margin: 0 1.176rem;
    color: rgb(0,0,0,.5);
}
.sub_wrap .sub_title ul li {
    float: left;
    font-size: 0.882rem;
}
.lgr_ul li{
    list-style: none;
}
.checkText{
    color: #333;
    font-weight: 600;
}

.title_right_box{
    position: absolute;
    right: 0;
    bottom: 2rem;
    vertical-align: top;
}
p{
    margin-top: 4px;
    margin-bottom: -16px;
}
.sub_content{
    margin : 0;
}
.border_wrap{
    position:relative;
}
#listForm{
    position: relative;
    display: inline-block;
    width: 100%;
    z-index: 0;
}
.subMenu{
    width: 100%;
}
.listView{
    top: 0.8rem;
    text-align: right;
    padding-left: 0;
    display: inline-block;
    float: right;

}
.btnGallery{
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 5px;
    cursor: pointer;
}
.btnList{
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 5px;
    cursor: pointer;
}
.sort_list{
    margin-top: 0px;
    text-align: right;
    display: inline-block;
    float: right;
    margin-right: 20px;
}
.sort_btn{
    width: 140px;
    height: 35px;
    display: inline-block;
    line-height: 30px;
    border-radius: 5px;
    background: #afafaf;
    color: #fff;
    padding: 0 10px;
    font-size: 15px;
}

.programBtn span{
    color: #003668;
    font-weight: bold;
}
ul{
    margin-left: -40px;
    list-style: none;
}
li.left{
    position: relative;
    width: 49%;
    height: 180px;
    border: 1px solid #7fb069;
    border-radius: 10px;
    padding: 24px;
    display: inline-block;
    margin-bottom: 40px;
    box-sizing: border-box;
}

li.right{
    position: relative;
    width: 49%;
    height: 180px;
    border: 1px solid #7fb069;
    border-radius: 10px;
    padding: 24px;
    display: inline-block;
    margin-bottom: 40px;
    box-sizing: border-box;
    float: right;
}
.info{
    display: inline-block;
    vertical-align: middle;
}
.info p{
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 17px;
    position: relative;
    padding: 0 6px;
}
.local{
    color: #7fb069;
}
.local::before{
    background: #7fb069;
}
.info p::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 50%;
    top: -8px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}
.local::after{
    background: #e5efe1;
}
.info p::after{
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 100%;
    height: 0.8rem;
    border-radius: 1.35rem;
    z-index: -1;
}
.info .edu::before {
    background: #e3a01d;
}
.edu::after {
    background: #f9f3eb;
}
.edu{
    color: #e3a01d;
    font-weight: bold;
}
.middleInfo{
    padding-left: 40px;
}
.info .progress {
    color: #125ea4;
}
.progress::before {
    background: #125ea4;
}
.progress::after {
    background: #e9f1f8;
}
.title{
    margin: 0px 0;
    font-size: inherit;
    font-weight: bold;
    text-align: left;
    width: 100%;
    max-height: 30px;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: normal;
}
p.prd{
    display: inline-block;
}
.num{
    margin-left: 3px;
    margin-right: 30px;
    display: inline-block;
}
.num p{
    margin-top: 47px;
    margin-right: 20px;
    display: inline-block;
    font-size: 17px;
}
.title p{
    margin-top: 20px;
}
.container {
    max-width: 82.353rem;
    margin: auto;
    position: relative;
}
.inner {
    width: 1400px;
    margin: 0 auto;
}
.sub_wrap .sub_content .inner {
    width: 100%;
    float: right;
}
.board_wrap {
    position: relative;
}
.board_wrap .board_cont {
    position: relative;
}
.board_cont #listForm {
    position: relative;
    display: inline-block;
    width: 100%;
    z-index: 0;
}
.sub_wrap .sub_content .inner {
    width: 100%;
    float: right;
}
.sub01_con .k_result {
    margin: auto;
    margin-top: 0px;
}
.board_cont #listForm .asa_listView {
    top: 0.8rem;
    text-align: right;
    padding-left: 0;
    display: inline-block;
    float: right;
}
.asa_listView .asa_btnGallery, .asa_listView .asa_btnList {
    position: relative;
    display: inline-block;
    /* border: 1px solid #ccc; */
    width: 36px;
    height: 36px;
    border-radius: 5px;
    cursor: pointer;
}
img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    border: 0 none;
    -webkit-tap-highlight-color: transparent;
}
.asa_listView .asa_btnList {
    margin-left: 10px;
}
.sort_list {
    margin-top: 0px;
    text-align: right;
    display: inline-block;
    float: right;
    margin-right: 20px;
}
.sub01_con .k_result {
    margin: auto;
    margin-top: 0px;
}
.sub01_con .k_result .count span {
    color: #003668;
    font-weight: bold;
}
dl, ul, ol, menu, li {
    list-style: none;
}
.sub01_con .k_result li {
    position: relative;
    width: 49%;
    height: 180px;
    border: 1px solid #7fb069;
    border-radius: 10px;
    padding: 24px;
    display: inline-block;
    margin-bottom: 40px;
    box-sizing: border-box;
}
.sub01_con .k_result li:nth-child(even) {
    float: right;
}
#page {
	margin: 0 auto;
	text-align:center;
    padding-bottom: 48px;
 }

.page_nation {
	display:inline-block;
}
.page_nation .none {
	display:none;
}
.page_nation a {
	display:block;
	margin:0 3px;
	float:left;
	border:1px solid #e6e6e6;
	width:28px;
	height:28px;
	line-height:28px;
	text-align:center;
	background-color:#fff;
	font-size:13px;
	color:#999999;
	text-decoration:none;
}
.page_nation .arrow {
	border:1px solid #ccc;
}
.page_nation .pprev {
	width:28px;
	height:28px;
	background:#f8f8f8 url('image/page_pprev.png') no-repeat center center;
	margin-left:0;
}
.page_nation .prev {
	background:#f8f8f8 url('image/page_prev.png') no-repeat center center;
	margin-right:7px;
}
.page_nation .next {
	background:#f8f8f8 url('image/page_next.png') no-repeat center center;
	margin-left:7px;
}
.page_nation .nnext {
	background:#f8f8f8 url('image/page_nnext.png') no-repeat center center;
	margin-right:0;
}

.page_nation a.active, .page_nation a:hover {
	border: 1px solid #ed8d77;
	color:#ed8d77;
}


button {
    background: inherit;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    overflow: visible;
    cursor: pointer;
    
}

/* 여기부터는 footer */

body {
    margin: 0;
}
footer.footer {
    width: 100%;
    overflow: hidden;
    background-color: #3b6a39;
}

footer.footer .bottom_link {
    width: 82.353rem;
    text-align: left;
    border-bottom: 0.059rem solid rgba(255, 225, 225, 0.2);
    padding: 1.176rem 0;
    margin: auto;
}

footer.footer .bottom_link ul {
    text-align: center;
    position: relative;
    display: inline-block;
    float: right;
    margin-top: 3px;
}

footer.footer .bottom_link ul li {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

footer.footer .bottom_link ul li+li::before {
    content: '|';
    margin: 0 0.882rem;
    color: #fff;
}

footer.footer .bottom_link ul li a {
    font-family: 'ONE-Mobile-Regular';
    font-size: 0.824rem;
    color: #fff;
    text-decoration: none;
}

footer.footer .address {
    width: 82.353rem;
    position: relative;
    padding: 1.471rem 0;
    margin: auto;
}

footer.footer .address ul {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

footer.footer .address ul li {
    float: left;
    display: inline-block;
    *display: inline;
    zoom: 1;
    font-size: 0.824rem;
    color: #fff;
    font-family: 'ONE-Mobile-Regular';
}

footer.footer .address ul li + li {
    margin-left: 10px;
}

footer.footer .address p.copy {
    font-size: 0.824rem;
    color: #fff;
    font-family: 'Play', sans-serif;
    margin: 0;
    padding-top: 4px;
}

footer.footer .bottom_link .logo {
    width: 7.412rem;
    height: 1.765rem;
    left: 0;
    position: relative;
    display: inline-block;
}

footer.footer .bottom_link .container {
    margin: 0;
    max-width: 82.353rem;
    position: relative;
}

footer.footer .address .container {
    margin: 0;
}