table.mentor th.num { width: 4%; }
table.mentor th.title { width: 14%; }
table.mentor th.content { width: 15%; }
table.mentor th.main { width: 9%; }
table.mentor th.id { width: 9%; }
table.mentor th.address { width: 7%; }
table.mentor th.email { width: 12%; }
table.mentor th.file-check { width: 7%; }
table.mentor th.date { width: 9%; }
table.mentor th.hits { width:  5%; }
table.mentor th.reply { width:  4%; }
table.mentor th.delete { width: 5%; }