div#contents-top div.c-left{
    height: 235px;
    max-width: 270px;
    min-width: 270px;
}

/* 차트 */
div#lineChart {
    width: 90%;
    height: 88%;
    padding-top: 5%;
    padding-bottom: 2%;
    margin: 0 auto;
}

th.num { width: 7%; }
th.title { width: 19%; }
th.id { width: 12%; }
th.work-date { width: 9%; }
th.work-time { width: 7%; }
th.crop { width: 9%; }
th.manpower { width: 5%; }
th.address { width: 8%; }
th.date { width: 12%; }
th.ok, th.no { width: 6%; }

td.ok, td.no { padding: 0 0.3vw; }
td input[type="button"] {
    width: 100%;
    padding: 3px 1px;
    border: 1px solid rgb(184, 184, 184);
    box-shadow: 0.1px 0.1px 8px -5px #000000;  
    
    font-family: inherit;
    font-weight: 600;
    font-size: 0.9vw;
    color: #353535;
    cursor: pointer;
    word-break: keep-all;
}

td.no input[type="button"] { background: #f5c7bd; }

td.ok input[type="button"]:hover { background: #e1e2e4;}
td.no input[type="button"]:hover { background: #eeb6aa; }