@charset "UTF-8";

@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    font: 17px/1.5 "ONE-Mobile-Regular";
    letter-spacing: -0.05em;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    font-size: inherit;
}


.contentfullwrap {
    position: relative;
    width: 100%;
}

.contentwrap {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 40px;
}

form {
    padding-top: 13px;
    border-top: 2px solid #565656;
}

form div.search-form {
    margin-bottom: 20px;
    padding: 13px 20px;
    border: 1px solid #E6E6E6;
    background-color: #ffffff;

    font-family: "ONE-Mobile-Regular";
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0em;
    display: flex;
}

form div.search-form span.s-form {
    position: relative;
    width: 185px;
    margin-right: -185px;
}

form div.search-form span.s-form select {
    width: 185px;
    height: 42px;
    padding: 8px;
    border: 1px solid #d9d9d9;
    color: #7b7b7b;
    vertical-align: middle;
    font-family: "ONE-Mobile-Regular";
}

span.s-f-input {
    margin-right: -44px;
    width: 100%;
}

span.search-input {
    margin-left: 183px;
    display: block;
    margin-right: 44px;
    padding: 0 25px 0 1px;
    border: 1px solid #d9d9d9;
    border-right-width: 0;
}

span.search-input input[type="text"] {
    width: 100%;
    height: 39px;
    margin: 0 -24px 0 0;
    border: 1px solid #d9d9d9;
    color: #7b7b7b;
    padding: 0 12px;
    vertical-align: middle;
    font-family: "ONE-Mobile-Regular";
}

.s-f-btn button {
    width: 44px;
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0;
    cursor: pointer;
}
button img {
    width: 30px;
    height: 30px;

}

input.img-button {
    background: url( "project/image/search.png" ) no-repeat;
    border: none;
    width: 39px;
    height: 39px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.list-count {
    padding: 0 0 5px 18px;
    font-size: 13.5px;
    float: right;
    color: #666666;
    letter-spacing: -0.03em;
    background: url("https://www.returnfarm.com:444/css/wvtex/img/sub/board_count.png") no-repeat 0 0;
}

table {
    width: 100%;
    margin-bottom: 40px;
    font-weight: 300;
    border-spacing: 0;
    border-top: 3px solid #565656;
}

table th {
    border-left: 1px solid #e8e6e6;
    border-right: 1px solid #e8e6e6;
    padding: 12px 0;
    font-size: 14px;
    color: #262525;
    font-weight: 500;
    vertical-align: middle;
}

th.number {
    width: 8%;
}

th.title {
    width: 60%
}

th.tile, th.viewcount {
    width: 6%
}

th.registrant, th.regist-date{
    width: 10%;
}


table td {
    border-bottom: 1px solid #ebe9e9;
    padding: 11px 0 11px 0;
    text-align: center;
    vertical-align: middle;
    line-height: 18px;
    font-size: 14px;
    color: #4a4a4a;
    font-weight: 400;
    letter-spacing: -0.03em;
}


td.title {
    text-align: left;
    padding-left: 10px;
}

td.title>a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    color: inherit;
}

td.title>a:hover {
	border: none;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-floppy-o:before {
    content: "\f0c7";
}

a.btntype01 {
    display: inline-block;
    color: #ffffff;
    background: #464d77;
    border-radius: 20px;
    padding: 4px 15px;
    font-size: 16px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
}

.mt25 {
    margin-top: 25px !important;
}

.te_right {
    text-align: right;
}


a.btntype01:hover {
	border: none;
    color: #ffffff;
}

.advice_btn>img{
    color: #ffffff;
    width: 20px;
    height: 20px;
}